
<%= link_to "Nouveau post", new_post_path, class: "nav-link" %>

<div class="card-container">
  <% @posts.each do |p| %>
    <div class="card-box">

      <%= link_to edit_post_path(p) do %>
        <div>
          <%= cl_image_tag p.photos.first.key, class: "card-img" %>
        </div>
        <ul class="card-tags-list">
          <% p.tag_list.each do |tag| %>
            <li class="card-tag">
              <% if tag == "Fabrication" %>
                <%= image_tag "fab.png" %>
              <% end %>
              <% if tag == "Photographie" %>
                <%= image_tag "photo.png" %>
              <% end %>
              <% if tag == "Développement" %>
                <%= image_tag "dev.png" %>
              <% end %>
              <% if tag == "Graphisme" %>
                <%= image_tag "graph.png" %>
              <% end %>
              <% if tag == "Environnement" %>
                <%= image_tag "env.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
