<br>
<div class="card-container">
  <% if current_user %>
    <%= link_to new_post_path, title: "Add post" do %>
      <%= image_tag "add.png", alt: "Add post img", class: "card-add-post" %>
    <% end %>
    <% @posts.each do |p| %>
      <div class="card-box">
        <% if p.draft == true %>
          <%= link_to post_path(p), title: "#{p.title}"  do %>
            <%= cl_image_tag p.photos.first.key,
            class: "card-img draft",
            loading: "lazy",
            width: 650,
            height: 650,
            opacity: 50,
            quality: 50,
            fetch_format: :auto,
            crop: :fill,
            alt: "#{p.alt_text} 1" %>
          <% end %>
          <%= link_to "Edit", edit_post_path(p), class: "card-edit button", title: "Edit"  %>
          <%= link_to  "Draft", edit_post_path(p),  class: "draft-edit button", title: "Edit daft"  %>
        <% else %>
          <%= link_to post_path(p), title: "#{p.title}" do %>
            <%= cl_image_tag p.photos.first.key,
            class: "card-img",
            loading: "lazy",
            width: 650,
            height: 650,
            quality: 50,
            fetch_format: :auto,
            crop: :fill,
            alt: "#{p.alt_text} 1" %>
          <% end %>
          <%= link_to "Edit", edit_post_path(p), class: "card-edit button", title: "Edit"  %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% @posts.each do |p| %>
      <% if p.draft == false %>
        <div class="card-box">
          <%= link_to post_path(p), title: "#{p.title}" do %>
            <%= cl_image_tag p.photos.first.key,
            class: "card-img",
            loading: "lazy",
            width: 650,
            height: 650,
            quality: 50,
            fetch_format: :auto,
            crop: :fill,
            alt: "#{p.alt_text} 1" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="footer"></div>
