<br>
<div class="card-container">

  <% if current_user %>
    <%= link_to new_post_path do %>
      <%= image_tag "add.png", class: "card-add-post" %>
    <% end %>
    <% @posts.each do |p| %>
      <div class="card-box">
        <% if p.draft == true %>
          <%= link_to post_path(p) do %>
            <%= cl_image_tag p.photos.first.key, class: "card-img", loading: "lazy", width: 650, height: 650, opacity: 50, quality: 50, fetch_format: :auto, crop: :fill %>
          <% end %>
          <%= link_to "Edit", edit_post_path(p), class: "card-edit button" %>
          <%= link_to  "Draft", edit_post_path(p),  class: "draft-edit button" %>
        <% else %>
          <%= link_to post_path(p) do %>
            <%= cl_image_tag p.photos.first.key, class: "card-img", loading: "lazy", width: 650, height: 650, quality: 50, fetch_format: :auto, crop: :fill %>
          <% end %>
          <%= link_to "Edit", edit_post_path(p), class: "card-edit button" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% @posts.each do |p| %>
      <% if p.draft == true %>
        <div class="card-box">
          <%= link_to post_path(p) do %>
            <%= cl_image_tag p.photos.first.key, class: "card-img", loading: "lazy", width: 650, height: 650, quality: 50, fetch_format: :auto, crop: :fill %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>



</div>
