<div class = "edit-container" >
  <h1 class = "text-center">New Post</h1>
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <br>
    <%= f.text_field :date, data: { controller: "datepicker" } %>
    <br><br>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <br>
    <%= f.input :description %>
    <%= f.input :source %>
    <%= f.input :tag_list, as: :check_boxes, collection: [ "Fabrication", "Photographie", "Graphisme", "Développement", "Environnement" ] %>
    <%= f.submit "Post", class: "button submit-button" %>
  <% end %>
</div>
