<% if current_user %>
  <%= link_to "Edit", edit_post_path(@post), class: "post-edit button" %>
<% end %>
<div class="container-8">
  <div class="g-1-5 show_pics">
    <% @post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "img-show",  width: 860, quality: :auto, fetch_format: :webp, crop: "fill" %>
    <% end %>
  </div>
  <div class="g-6-9 show-fix">
    <h1 class=""><%= @post.title %></h1>
    <% if @post.date.present? %>
      <h3><%= l(@post.date, format: "%B %Y") %></h3>
    <% end %>
    <br>
    <% if @post.description.present? %>
      <p><%= simple_format @post.description %></p>
    <% end %>
    <% if @post.source.present? %>
      <% if @post.source.split(',').count == 1 %>
        <h3>Source</h3>
      <% elsif @post.source.split(',').count >= 2 %>
        <h3 class="source-title" >Sources</h3>
      <% end %>
      <% @post.source.split(',').each do |link| %>
        <%= link_to link, target: "_blank" do %>
          <p class="source"><%= link %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/next-prev" %>
