<!DOCTYPE html>
<html lang="fr">
  <head>

    <% if @post %>
      <% image_url = @post.photos.first.key if @post.photos.any? %>
    <% elsif params[:tag].present? && @posts.any? %>
      <% image_url = "https://res.cloudinary.com/dkv3sh4oq/image/upload/v1694691411/portfolio_jxqx9m.png" %>
    <% else %>
      <% image_url = "https://res.cloudinary.com/dkv3sh4oq/image/upload/v1694691411/portfolio_jxqx9m.png" %>
    <% end %>

    <% title_content = "Quentin Orhant - Écologeek | Maker | Développeur#{@post ? " - #{@post.title}" : (@page_title ? " - #{@page_title}" : "")}" %>
    <% description_content = @meta_description || "Quentin Orhant : Expert freelance en éco-conception d’objets et de services..." %>
    <% page_url = request.original_url %>

    <title><%= title_content %></title>
    <meta name="description" content="<%= description_content %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= title_content %>" />
    <meta property="og:description" content="<%= description_content %>" />
    <meta property="og:image" content="<%= image_url %>" />
    <meta property="og:url" content="<%= page_url %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.ico", rel: "icon" %>
    <script defer src="https://app.tinyanalytics.io/pixel/2NvQLdPcP9PonJgK"></script>
  </head>
  <body data-hijacking="off" data-animation="none">
    <%= render "shared/tagsbar" %>
    <%= render "shared/navbar" %>
    <%= render "shared/tagsline" %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
  </body>
</html>
