<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Quentin Orhant - Écologeek | Maker | Développeur<%= @post ? " - #{@post.title}" : (@page_title ? " - #{@page_title}" : "") %></title>
    <meta name="description" content="<%= @meta_description || "Quentin Orhant : Expert freelance en éco-conception d’objets et de services. Développeur, maker, je mets en avant une approche éthique et écologique dans tous mes projets. Découvrez mes réalisations allant du recyclage des plastiques à la fabrication d’une balise pour les tortues marines. Chaque création est le fruit d'une réflexion sur les enjeux environnementaux actuels. Explorez mes travaux qui fusionnent art, science et technologie pour un avenir plus durable." %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.ico", rel: "icon" %>
    <script defer src="https://app.tinyanalytics.io/pixel/2NvQLdPcP9PonJgK"></script>
  </head>
  <body data-hijacking="off" data-animation="none">
    <%= render "shared/tagsbar" %>
    <%= render "shared/navbar" %>
    <%= render "shared/tagsline" %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
    <div class="footer">
      <%= link_to "https://collectif.greenit.fr/ecoconception-web/", class: "footer", title: "lien vers greenIT - référenciel d'éco-conception web" do %>
        <p class= "footer-text"> Site réalisé en respectant les principes de l'éco-conception web</p>
      <% end %>
    </div>
  </body>
</html>
