<!DOCTYPE html>
<html>
  <head>
    <title>Quentin Orhant - Écologeek | Maker | Développeur<%= @post ? " - #{@post.title}" : "" %></title>
    <meta name="description" content="Quentin Orhant : Expert freelance en éco-conception d’objets et de services. Développeur, maker, ou artisan du numérique, je mets en avant une approche éthique et écologique dans tous mes projets. Découvrez mes réalisations allant du recyclage des plastiques à la fabrication d’une balise pour les tortues marines. Passionné par la fabrication numérique, le réemploi et l'écologie, chaque création est le fruit d'une réflexion sur les enjeux environnementaux actuels. Explorez mes travaux qui fusionnent art, science et technologie pour un avenir plus durable.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "favicon.ico", rel: "icon" %>
    <script defer src="https://app.tinyanalytics.io/pixel/2NvQLdPcP9PonJgK"></script>

  </head>

  <body data-hijacking="off" data-animation="none">
    <%= render "shared/tagsbar" %>
    <%= render "shared/navbar" %>
    <%= render "shared/tagsline" %>
    <%= render "shared/flashes" %>
    <div class="container">
      <%= yield %>
      <div class="footer"></div>
    </div>
  </body>
</html>

<%# <script>
  $(document).on('ready page:load', function () {
    $('#post_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script> %>
